body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #232323;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 100%;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.names {
  display: flex;
  justify-content: space-between;
}

.left-name,
.right-name {
  text-align: center;
  width: 48%;
}

.left-name p,
.right-name p {
  margin: 5px;
  font-size: 18px;
}

.container h1 {
  margin: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.countdown-container {
  margin: 20px 0;
}

#countdown {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#countdown>div {
  margin: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.text p,
.festa p,
.rsvp p,
.fotos p {
  font-size: 18px;
  margin: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: bold;
  text-align: left;
  width: 100%;
  max-width: 400px;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #4cae4c;
}

#attendance,
#bringGuests {
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#guestNames {
  text-align: left;
}

button:hover {
  background-color: #4cae4c;
}

#responseMessage {
  font-size: 1.2em;
  color: #4cae4c;
}

nav {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #a27b4f;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #925138;
  color: #fff;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

#nossa-historia,
.imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: relative;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text,
.rsvp {
  background-color: #925138;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
  position: relative;
  gap: 10px;
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.content img {
  max-width: 100%;
  /* A imagem ocupará toda a largura */
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.content:hover img {
  transform: scale(1.05);
}
iframe{
  width: 940px;
  height: 450px;
  border: 0;
}

.content p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 2;
  margin: 0;
  padding: 6px;
  text-align: justify;
  max-width: 600px;
}

.festa,
.fotos {
  text-align: center;
  margin: 8px;
}

#home {
  font-size: 60px;
}

.text h1,
.festa h1,
.rsvp h1,
.fotos h1 {
  margin: 0;
  font-size: 40px;
}

.botao-container {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
  border: 1px solid #a27b4f;
  border-radius: 5px;
  padding: 10px;
  background-color: #925138;
  transition: background-color 0.3s ease;
}

.botao-container:hover {
  background-color: #4cae4c;
}

.botao {
  text-decoration: none;
  color: white;
}

.botao-enviar {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
  border: 1px solid #a27b4f;
  border-radius: 5px;
  padding: 10px;
  background-color: #232323;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.botao-enviar:hover {
  background-color: #4cae4c;
}

.cores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cores img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #a27b4f;
  color: white;
  text-align: center;
  padding: 6px 0;
  width: 100%;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

.space {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    overflow-x: hidden;
  }

  nav ul li a {
    padding: 5px;
    font-size: 12px;
  }

  .names {
    flex-direction: column;
    align-items: center;
    margin: 0 0 6px 0;
  }

  .left-name,
  .right-name {
    width: 100%;
  }

  .left-name p,
  .right-name p {
    margin: 5px;
    font-size: 20px;
  }

  .imagens {
    margin: 20px auto;
  }

  .countdown-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
  }

  iframe{
    width: 300px;
    height: 200px;
    border: 0;
  }

  .mapa-conteudo {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #countdown {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #countdown>div {
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }

  .container h1 {
    text-align: center;
    font-size: 30px;
  }

  .text h1 {
    font-size: 35px;
  }

  .text p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }

  .slides-list li {
    display: flex;
    align-items: center;
  }

  #home {
    font-size: 35px;
  }
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 1s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Tornar o carrossel com movimento contínuo */
.carousel-container:hover .carousel {
  animation: slide 30s infinite linear;
}

/* Ajuste de estilo para dispositivos móveis */
@media only screen and (max-width: 600px) {
  .carousel-item p {
    font-size: 14px;
    padding: 8px;
  }
}
