body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding-top: 60px; /* Adiciona um espaço no topo */
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a3d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #0d1b2a;
  color: #fff;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.container {
  position: relative;
  padding: 20px;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px 0;
}

.container p{
  color: #1a1a3d;
  margin: 0;
  font-weight: bold;
}

h2 {
  color: #1a1a3d; /* Azul escuro para combinar com tema elegante */
  font-size: 36px;
  margin: 0;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lista h4 {
  margin: 20px 0 10px 0;
  font-size: 28px;
  color: #1a1a3d;
}

.lista ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1000px;
}

.lista li {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #ffffff;
  position: relative;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lista li:hover {
  background-color: #f9f9f9;
  transform: scale(1.02);
}

.lista img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista .nome {
  flex: 1;
  text-align: center;
  color: #1a1a3d;
}

.lista .preco {
  color: #d67a0c; /* Cor de destaque para o preço */
  font-weight: bold;
}

.lista-presentes p {
  text-align: justify;
  color: #333; /* Cor escura para fácil leitura */
  margin: 0;
  font-weight: normal;
}

.payment-info {
  margin-top: 20px;
  color: #555;
}

.qr-code img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filtros label, .filtros input{
  margin: 5px 10px;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

.filtros input[type="radio"] {
  margin-right: 5px;
}

.filtros button {
  transition: background-color 0.3s ease;
}

.filtros button:hover {
  background-color: #b96509; /* Escurecendo o botão ao passar o mouse */
}

.filtros {
  display: flex;
  flex-direction: column;
}

.filtros select, .filtros input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.filtros button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}


@media only screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    overflow-x: hidden;
  }

  .container {
    padding: 10px;
    margin-top: 40px;
  }

  .lista li {
    flex-direction: column;
    align-items: flex-start;
  }

  .lista img {
    margin-bottom: 10px;
  }

  .lista .nome,
  .lista .preco {
    text-align: left;
  }

  .lista .preco {
    margin-left: 0;
  }
}

footer {
  background-color: #1a1a3d;
  color: white;
  text-align: center;
  padding: 6px 0;
  width: 100%;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
