body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #f7e4d4;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.names {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-name,
.right-name {
  text-align: center;
  width: 48%;
}

.left-name p,
.right-name p {
  margin: 5px;
  font-size: 18px;
}

.container h1 {
  margin: 5px;
  font-size: 60px;
}

.countdown-container {
  margin-top: 20px;
}

#countdown {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.text p, .festa p {
  font-size: 18px;
  margin: 15px;
}


#countdown>div {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 10px;
}

nav::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.container {
  margin: 60px auto 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #ddd;
}

.text h1,
.festa h1 {
  font-size: 40px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .icon {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  left: 15px;
  transition: 0.5s ease-in-out;
  margin-bottom: 7px;
}

.hamburguer:before,
.hamburguer:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

#nossa-historia {
  display: flex; /* Cria um container flexbox */
  justify-content: space-between; /* Distribui os elementos horizontalmente */
  align-items: center; /* Alinha os elementos verticalmente no centro */
  padding: 20px; /* Adiciona um espaço interno */
}

#nossa-historia h1, .imagens h1 {
  text-align: right; /* Alinha o título à direita */
}

.text {
  text-align: center; /* Centraliza o título */
  display: flex;
  flex-direction: column; /* Empilha os elementos em uma coluna */
  align-items: center; /* Centraliza os elementos na coluna */
  background-color: #e9d1bb;
}

.content {
  display: flex;
  justify-content: space-between; /* Distribui os elementos horizontalmente com espaço */
  margin: 0 auto; /* Centraliza a área de conteúdo horizontalmente */
  align-items: center;
}

.content img {
  max-width: 30%; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.content2 {
  display: flex;
  justify-content: space-between; /* Distribui os elementos horizontalmente com espaço */
  margin: 0 auto; /* Centraliza a área de conteúdo horizontalmente */
  flex-direction: row-reverse;
  align-items: center;
}

.content2 img {
  max-width: 30%; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}




@media only screen and (max-width: 600px) {
  body {
    align-items: flex-start;
  }

  .container {
    padding: 10px;
    position: static;
    text-align: left;
    margin: 25px auto 0 auto;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu.open {
    display: block;
  }

  .menu-toggle {
    display: block;
  }

  .names {
    flex-direction: column;
    align-items: center;
  }

  .left-name,
  .right-name {
    width: 100%;
  }

  .left-name p,
  .right-name p {
    margin: 5px;
    font-size: 20px;
  }

  .imagens {
    margin: 20px auto;
  }

  .countdown-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }

  #countdown {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #countdown>div {
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }

  .container h1 {
    text-align: center;
    font-size: 30px;
  }

  .text h1 {
    font-size: 35px;
  }

  .text p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }

  .slides-list li{
    display: flex;
    align-items: center;
  }
}