body{
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #000000;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 100%;
  margin-top: 60px;
  text-align: center;
}


.names {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-name,
.right-name {
  text-align: center;
  width: 48%;
}

.left-name p,
.right-name p {
  margin: 5px;
  font-size: 18px;
}

.container h1 {
  margin: 5px;
  font-size: 60px;
}

.countdown-container {
  margin-top: 20px;
}

#countdown {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.text p, .festa p {
  font-size: 18px;
  margin: 15px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a3d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 10px;
}

nav::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}


nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.text h1,
.festa h1 {
  font-size: 40px;
}


nav ul li a {
  display: block;
  padding: 10px 15px;
  color: white; /* Cor do texto dos links */
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #0d1b2a; /* Cor de fundo ao passar o mouse */
  color: #fff;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

input {
  display: none;
}

#nossa-historia {
  display: flex; /* Cria um container flexbox */
  justify-content: space-between; /* Distribui os elementos horizontalmente */
  align-items: center; /* Alinha os elementos verticalmente no centro */
  padding: 16px; /* Adiciona um espaço interno */
  max-width: 100%;
}

#nossa-historia h1, .imagens h1 {
  text-align: right; /* Alinha o título à direita */
}

.text {
  text-align: center; /* Centraliza o título */
  display: flex;
  flex-direction: column; /* Empilha os elementos em uma coluna */
  align-items: center; /* Centraliza os elementos na coluna */
  background-color: #f0f0f0;
  color: #0d1b2a;
}

.content {
  display: flex;
  justify-content: space-between; /* Distribui os elementos horizontalmente com espaço */
  margin: 0 auto; /* Centraliza a área de conteúdo horizontalmente */
  align-items: center;
}

.content img {
  max-width: 30%; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.content2 {
  display: flex;
  justify-content: space-between; /* Distribui os elementos horizontalmente com espaço */
  margin: 0 auto; /* Centraliza a área de conteúdo horizontalmente */
  flex-direction: row-reverse;
  align-items: center;
}

.content2 img {
  max-width: 30%; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.festa {
  text-align: center; 
  margin: 8px;
}

.botao-container {
  display: inline-block; /* Torna o container um bloco inline para centralizar */
  text-align: center;
  cursor: pointer; /* Muda o cursor para uma mãozinha */
  font-family: "Cormorant Garamond", serif;
  border: 1px solid #0d1b2a;
  border-radius: 5px;
  padding: 8px;
  background-color: #1a1a3d;
}

.botao{
  text-decoration: none; /* Remove a linha abaixo do link */
  color: white;
}

.container h2{
  margin: 8px 0;  
}

footer {
  background-color: #1a1a3d;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    
  overflow-x: hidden;
  }

 

  nav{
    padding: 4px;
  }

  nav ul li a{
    padding: 5px;
    font-size: 12px;
  }

  .names {
    flex-direction: column;
    align-items: center;
    margin:0 0 6px 0;
  }

  .left-name,
  .right-name {
    width: 100%;
  }

  .left-name p,
  .right-name p {
    margin: 5px;
    font-size: 20px;
  }

  .imagens {
    margin: 20px auto;
  }

  .countdown-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
  }

  #countdown {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #countdown>div {
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }

  .container{
    margin-top: 40px;
  }

  .container h1 {
    text-align: center;
    font-size: 30px;
  }

  .text h1 {
    font-size: 35px;
  }

  .text p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }

  .slides-list li{
    display: flex;
    align-items: center;
  }
}