body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #f7e4d4; /* Cor de fundo suave */
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  padding: 20px;
  max-width: 100%;
  margin-top: 60px;
}


h2 {
  color: #333; /* Cor do título principal */
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista h4 {
  margin: 20px 0 10px 0;
  font-size: 28px;
  color: #333;
}

.lista ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1000px; /* Limita a largura máxima para um design mais controlado */
}

.lista li {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd; /* Borda sutil para os itens */
  padding: 10px;
  border-radius: 8px; /* Bordas arredondadas */
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #fff; /* Fundo branco para os itens */
  position: relative;
  justify-content: space-between; /* Espaça os elementos internos */
}

.lista li:hover {
  background-color: #f0e9e3; /* Cor de fundo ao passar o mouse */
  transform: scale(1.02); /* Leve aumento ao passar o mouse */
}

.lista img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px; /* Espaçamento entre a imagem e o nome */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista .nome {
  flex: 1;
  text-align: center;
  margin: 0 20px; /* Espaçamento entre o nome e o preço */
}

.lista .preco {
  color: #b85c5c; /* Cor do preço */
  font-weight: bold;
}
.lista-presentes{
  position: relative;
  max-width: 100%;
}

#lista-de-presentes{
  position: relative;
  max-width: 100%;
  padding: 16px;

}

#lista-de-presentes li{
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    align-items: flex-start;
  }

  .container {
    padding: 10px;
    margin-top: 20px;
  }

  .lista li {
    flex-direction: column;
    align-items: flex-start;
  }

  .lista img {
    margin-bottom: 10px;
  }

  .lista .nome,
  .lista .preco {
    text-align: left;
  }

  .lista .preco {
    margin-left: 0;
  }
}
